<%- include('../partials/header'); -%>
<div class="container">
    <div class="row">
        <table class="table table-hover">
            <tr>
                <td>ID</td><td><%- info.id %></td>

            </tr>
            <tr>
                <td>Name</td><td><%- info.name %></td>
            </tr>
            <tr>
                <td>Year</td><td><%- info.year %></td>
            </tr>
            <tr>
                <td>Majortd><td><%- info.major %></td>

            </tr>
            <tr>
                <td>Passing_yards</td><td><%- info.passing_yards %></td>

            </tr>
            <tr>
                <td>Rushing_yards</td><td><%- info.rushing_yards %></td>

            </tr>
            <tr>
                <td>Receiving_yards</td><td><%- info.receiving_yards %></td>

            </tr>
            <tr>
                <td>Total number</td><td><%- info.cc %></td>

            </tr>
            <tr>
                <td>Avatar</td><td><img src="../../<%- info.img_src %>" alt=""></td>

            </tr>
        </table>
    </div>
</div>